.edit {
   display: flex;

   &-eye {
      margin-right: 25px;
   }
}

.admin {
   &-table {
      &__th-id {
         display: flex;
         align-items: center;
      }
   }

   &__footer {
      display: flex;
      justify-content: flex-end;
   }
}

.view {
   &-num {
      font-size: 16px;
      font-family: 'Lato Regular';
      line-height: 24px;
   }

   &-author {
      margin: 0;
      font-size: 16px;
      font-family: 'Lato Regular';
      line-height: 19px;
   }

   &-name {
      font-weight: bold;
      font-size: 24px;
      font-family: 'Lato';
      line-height: 29px;
   }

   &-mail {
      color: map-get($color, secondary);
      font-size: 14px;
      font-family: 'Lato Regular';
      line-height: 17px;
   }

   &-collapse-content {
      display: flex;
      justify-content: space-between;
      padding-top: 32px;

      .deactivate-btn {
         padding: 8px 32px;
         font-weight: bold;
         font-size: 16px;
         line-height: 19px;
      }

      .edit-btn {
         padding: 8px 32px;
         font-weight: bold;
         font-size: 16px;
         line-height: 19px;
      }
   }
}
