.my-btn-outline-primary {
   border: 1px solid map-get($color, primary);
   border-radius: 2px;
   color: map-get($color, primary);

   &:hover {
      background-color: map-get($color, primary);
      color: map-get($color, pure);
   }
}

.my-btn-outline-secondary {
   border: 1px solid map-get($color, danger);
   border-radius: 2px;
   color: map-get($color, danger);

   &:hover {
      background-color: map-get($color, danger);
      color: map-get($color, pure);
   }
}

.my-btn-primary {
   border-radius: 2px;
   background-color: map-get($color, primary);
   color: map-get($color, pure);

   &:hover {
      border: 1px solid map-get($color, primary);
      background-color: map-get($color, pure);
      color: map-get($color, primary);
   }
}

.my-btn-none {
   display: flex;
   align-items: center;
   padding: 0;
   border: none;
   background-color: unset;
}

.add-btn {
   &-icon {
      margin-right: 8px;
      color: map-get($color, primary);
   }

   &-text {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
   }
}

.my-bg-btn {
   display: flex;
   justify-content: center;
   padding: 16px 0;
   width: 100%;
   font-size: 16px;
   line-height: 19px;
}
