.card-rectangle {
   display: flex;
   padding: 32px;

   &-photo {
      margin-right: 24px;
      width: 141px;
      height: 141px;

      object-fit: cover;
   }

   &-container {
      width: 100%;
   }

   &-close {
      height: 24px;
   }

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3px;
   }

   &__content {
      margin-bottom: 16px;
   }

   &__footer {
      display: flex;
      justify-content: space-between;
   }
}
