.change-page {
   .left {
      margin-right: 23px;
      color: map-get($color, dark);
      text-decoration: none;
   }

   .right {
      color: map-get($color, dark);
      text-decoration: none;
   }
}
