.input-primary {
   box-sizing: border-box;
   padding: 16px;
   height: auto;
   border: 1px solid map-get($color, dark);
   border-radius: 2px;
   font-size: 16px;
   line-height: 19px;

   &:focus {
      background-color: map-get($color, light);
   }
}
