.logo {
   overflow: hidden;
   height: 40px;
   background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week5/logo-ANSWER.svg);
   background-repeat: no-repeat;
   text-indent: 101%;
   white-space: nowrap;
}
